.row{
    --bs-gutter-x: none;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: none;
    font-weight: bolder;
}
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid white;
}
.carousel-indicators .active{
    background-color: white;
}
.carousel .slide .carousel-fade{
    height: 100vh;
}
.carousel-inner {
    height: 100vh;
}

.carousel-item {
    height: 100vh;

}

.img-slide {
    height: 100vh !important;
    object-fit: cover;
}

.btn-visit {
    position: absolute;
    bottom: 20px;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 20;
    cursor: pointer;
    animation: MoveUp 1.5s ease-in forwards;
   
}

.btn-visit a {
    background-color: rgb(247, 148, 29);
    font-family: "Cabin";
    line-height: 45px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 21px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    padding: 12px 18px;
    color: rgb(255, 255, 255);
}
.slide-line{
    height: 5px;
    background: rgba(255, 255, 255, 0.245);
    width: 0%;
    visibility: visible;
    transform: translate3d(0px, 0px, 0px);
    position: absolute;
    bottom: 0;
    left: 0;
    animation: LineWitdh 6.4s forwards;
}
.over-lay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
@keyframes LineWitdh {
    0%{
        width: 0%;
    }100%{
        width: 100%;
    }
}
@keyframes MoveUp {
    0% {
        display: none;
        bottom: 60px;
        opacity: 0;
    }
    10% {
        display: none;
        bottom: 60px;
        opacity: 0;
    }
    30% {
        display: block;
        bottom: 60px;
        opacity: 0;
    }
    40% {
        display: block;
        bottom: 60px;
        opacity: 0.2;
    }
    70% {
        display: block;
        bottom: 145px;
        opacity: 0.9;
    }80% {
        display: block;
        bottom: 140px;
    }
    90%{
        display: block;
            bottom: 137px;
    }
    95% {
        display: block;
        bottom: 139px;
    }
    100% {
        display: block;
        bottom: 140px;
    }
}
@keyframes MoveUpMobile {
    0% {
        display: none;
        bottom: 220px;
        opacity: 0;
    }

    10% {
        display: none;
        bottom: 220px;
        opacity: 0;
    }

    30% {
        display: block;
        bottom: 220px;
        opacity: 0;
    }

    40% {
        display: block;
        bottom: 220px;
        opacity: 0.7;
    }

    70% {
        display: block;
        bottom: 305px;
        opacity: 0.9;
    }

    80% {
        display: block;
        bottom: 300px;
    }

    90% {
        display: block;
        bottom: 297px;
    }

    95% {
        display: block;
        bottom:299px;
    }

    100% {
        display: block;
        bottom: 300px;
    }
}
/* Responsive */

@media only screen and (max-width: 800px) {
     .btn-visit{
        margin-bottom: 65px;
        width: 450px;
    }
    .btn-visit a{
        font-size: 14px;
    } 
}
@media only screen and (max-width: 650px) {
    .btn-visit {
        width: 350px;
        padding: 5px;
        bottom: 300px;
        animation: MoveUpMobile 1.5s ease-in forwards;
    }

    .btn-visit a {
        font-size: 10px;
    }
}
@media only screen and (max-width: 500px) {
    .btn-visit {
        max-width: 200px;
        padding: 3px;
        bottom: 300px;
        animation: MoveUpMobile 1.5s ease-in forwards;
    }

    .btn-visit a {
        display: block;
        font-size: 10px;
        line-height: 12px;
    }
}